.DS_Store
Thumbs.db
/vendor/
/node_modules/
/.idea/
/.vscode/
/.env
/.env.local
/.env.*.local
/.phpunit.result.cache
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
npm-debug.log
yarn-error.log
/.sass-cache
/.cache
/.next
/.nuxt
/.turbo
dist/
build/
coverage/
composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
/.DS_Store
**/.DS_Store

# Ignore nested repo
/new-portal/
